body, html {
    font-family: 'Roboto', sans-serif, Arial;
    font-size: 15px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.container {
    padding-top: 2vw;
    padding-left: 5vw;
    padding-right: 60vw;
}

p {
    letter-spacing:.2px;
    line-height: 24px;
    color: black;
    opacity: 0.87;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
}

a {
    color: #4285f4;
    text-decoration-line: none;
}