/* Button */
button {
  font-size: 18px;
  color: var(--color);
  padding: 7.5px 22.5px 7.5px 22.5px;
  border-radius: 7.5px;
  cursor: pointer;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out;
  background-color: var(--background-color);
  border: 1.5px solid var(--color);
}

button:focus {
  outline: 0;
}

button:not(:disabled):hover {
  color: var(--background-color);
  background-color: var(--color);
}

/* a link tags */
a {
  border-bottom: 1px solid var(--color);
  color: var(--color);
  text-decoration: none;
}

a:hover {
  border-bottom: 0;
}
